<p id="notice"><%= notice %></p>

<p>
  <strong>Rfc:</strong>
  <%= @cliente.rfc %>
</p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @cliente.nombre_cliente %>
</p>

<h3><%= link_to 'Edit', edit_cliente_path(@cliente) %> |</h3>
<h3><%= link_to 'Back', clientes_path %></h3>
