<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre producto:</strong>
  <%= @producto.nombre_producto %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>


<h3><%= link_to 'Edit', edit_producto_path(@producto) %> |</h3>
<h3><%= link_to 'Back', productos_path %></h3>